.staff {
	position: relative;
	margin-left: 100px;
	margin-top: 100px;
}

.clef {
}

.clef-image {
	width: 600px;
}

.note {
	height: 100%;
}

.note-image {
	width: 30px;
	position: absolute;
}

.note-ledger {
	width: 56px;
	position: absolute;
}

.note-name {
	position: absolute;
	bottom: 0px;
	width: 20px;
	text-align: center;
}

.switch-clef-block {
	margin-top: 40px;
	margin-left: 100px;
}

.switch-input-block {
	margin-left: 100px;
}

.switch-line {
	display: inline-block;
	height: 80px;
	vertical-align: 30pt;
}

.switch-clef {
	display: inline-block;
}

.switch-forced {
	background: #b1b1b1 url('../lib/onyx/images/gradient-invert.png') repeat-x bottom !important;
}

.keyboard {
	margin-left: 120px;
}

.keyboard-key {
	display: inline-block;
	width: 80px;
	height: 50px;
	font-weight: bold;
}

.microphone {
	margin-left: 120px;
	width: 540px;
	height: 50px;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #ddd;
	padding: 15px;
	text-align: left;
	position: relative;
}

.talk-text {
}

.talk-image {
	position: absolute;
	right: 0px;
	top: 0px;
}

.slider-block {
	position: relative;
	display: inline-block;
	margin-left: 30px;
	width: 150px;
	height: 80px;
	vertical-align: 30pt;
}

.tempo-slider {
	display: inline-block;
	width: 200px;
	top: 35px;
}

.tempo-image0 {
	position: absolute;
	width: 35px;
	top: 0px;
}

.tempo-image1 {
	position: absolute;
	width: 35px;	
	left: 100px;
}

.tempo-image2 {
	position: absolute;
	width: 35px;	
	left: 200px;
}

.playstop-button {
	position: absolute;
	left: 750px;
	top: 150px;
	width: 80px;
	height: 80px;
}

.playstop-image {
}

.score {
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	left: 750px;
	top: 300px;
}

.score-bad {
	color: red;
}

.score-average {
	color: orange;
}

.score-good {
	color: green;
}